
#about > *, #about > div > *{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#why-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    
}    

#why-us > article > * {
    margin: 3.5rem 1.5rem;
}


@media (min-width: 1150px) {
    #about {
        margin-bottom: 7rem;
    }
    #about, #about > div {
        flex-direction: row;
    }
    #about article  {
        align-items: flex-start;
    }    

    #why-us > article {
        display: flex;
    }
    #about > div {
        display: flex;
    }
}
