.title-underlined {
    display: flex;
    margin-bottom: 1rem;
}

.title-underlined > * {
    position: relative;
}
.title-underlined > *::after {
    content: '';
    position: absolute;
    top: 120%;
    left: 0;
    width: 100%;
    background-color: var(--green-underline);
}
.title-underlined > h1::after, .title-underlined > h2::after, .title-underlined > h3::after {
    height: 4px;
}
.title-underlined > h4::after, .title-underlined > h5::after, .title-underlined > h6::after {
    height: 3px;
}
